:root {
  --theme-color: darkblue;
  --style-color: white;
  --detail: lightblue;
}

#numbers {
  background-image: url(../img/numbers.jpg);
  height: 50vh;
  width: auto;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#numbers h1 {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
}
#numbers h1 b {
  display: block;
  line-height: 5rem;
  font-size: 2rem;
  border-radius: 10px;
  background-color: var(--detail);
}

article {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
}

article p {
  grid-column: 2/3;
}

article p + p {
  grid-column: 4/5;
}

div + h1 {
  text-align: center;
  line-height: 2;
  color: var(--color5);
  background-color: var(--detail);
}
