@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  font-size: 1rem;
}

:root {
  --theme-color: darkblue;
  --style-color: white;
  --detail: lightblue;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--theme-color);
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  flex-grow: 3;
}

header nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--style-color);
  line-height: 3rem;
  transition: all 200ms;
}

header nav ul li a:hover {
  background-color: var(--style-color);
  color: var(--theme-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Enhet1 . Enhet2"
    "Select1 Input Select2"
    ". Convert-button ."
    ". Result .";
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--theme-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--style-color);
  border-radius: 20px;
  border: 2px solid var(--theme-color);
}

.Enhet1 {
  grid-area: Enhet1;
}
.Enhet2 {
  grid-area: Enhet2;
}
.Select1 {
  grid-area: Select1;
}
.Select2 {
  grid-area: Select2;
}
.Convert-button {
  grid-area: Convert-button;
}
.Input {
  grid-area: Input;
}
.Result {
  grid-area: Result;
}
fieldset {
  width: 30vw;

  text-align: center;
  margin: auto;
  margin-top: 20vh;
}
fieldset div select {
  border-style: none;
  border-bottom-style: solid;
  border-width: 3px;
}
