@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  font-size: 1rem;
}

:root {
  --theme-color: darkblue;
  --style-color: white;
  --detail: lightblue;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--theme-color);
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  flex-grow: 3;
}

#dropdown,
#title {
  display: none;
}

@media screen and (max-width: 800px) {
  header nav ul li {
    flex-grow: 0;
    display: none;
  }
  #title {
    flex-grow: 5;
    display: block;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--style-color);
    line-height: 10vh;
  }
  #dropdown {
    display: block;
    flex-grow: 1;
    text-align: center;
  }
  #dropdown #btn {
    color: var(--style-color);
    background-color: var(--theme-color);
    border: none;
    outline: none;
    font-size: 2.5rem;
  }
  #dropdown #menu {
    display: none;
    position: absolute;
    background-color: var(--theme-color);
    min-width: 20vw;
    right: 0;
  }
  #dropdown #menu a {
    display: block;
    color: var(--style-color);
  }
  #dropdown:hover #menu {
    display: block;
  }
}

header nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--style-color);
  line-height: 10vh;
  transition: all 200ms;
}

header nav ul li a:hover {
  background-color: var(--style-color);
  color: var(--theme-color);
}

div + h1 {
  text-align: center;
  line-height: 2;
  color: var(--color5);
  background-color: var(--detail);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  padding: 4vh 4vw;
  text-align: center;
  color: var(--color3);
  background-color: var(--detail);
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Enhet1 . Enhet2"
    "Select1 Input Select2"
    ". Convert-button ."
    ". Result .";
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: var(--theme-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--style-color);
  border-radius: 20px;
  border: 2px solid var(--theme-color);
}

.Enhet1 {
  grid-area: Enhet1;
}
.Enhet2 {
  grid-area: Enhet2;
}
.Select1 {
  grid-area: Select1;
}
.Select2 {
  grid-area: Select2;
}
.Convert-button {
  grid-area: Convert-button;
}
.Input {
  grid-area: Input;
}
.Result {
  grid-area: Result;
}
fieldset {
  width: 35vw;
  text-align: center;
  margin: 20vh auto;
  border-radius: 35px;
}
fieldset div select {
  border-style: none;
  border-bottom-style: solid;
  border-width: 3px;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.5rem;
}

.accordion {
  padding: 5vh;
  width: 100%;
  transition: 400ms;
}

.panel {
  display: none;
}
